<!DOCTYPE html>
<html lang="ko" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>선수 정보 - Fantasy Esports</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/discord-theme.css" rel="stylesheet" >
</head>
<body>
    <div class="background">
        <header class="w-auto d-flex align-items-center pt-1 ps-2 shadow-lg">
            <img src="/img/logo-icon.svg" alt="" class="logo-icon me-2 mb-2">
            <h1 class="eng-font">Fantasy Esports</h1>
        </header>
        <div class="wrapper d-flex justify-content-between">
            <div class="d-flex flex-column">
                <%- include('position_nav.ejs') %>
                <button class="btn btn-light m-2 text-primary" id="backButton">
                    <i class="bi bi-arrow-left-square-fill me-2"></i>
                    <span>뒤로 가기</span>
                </button>
            </div>
            <div class="detail m-2 p-3 bg-light rounded text-dark">
                <div class="detail-title d-flex align-items-center justify-content-between">
                    <h1 class="eng-font ms-2"><%= result.name %></h1>
                    <div class="d-flex align-items-center">
                        <img src="/img/<%= result.position %>.svg" alt="" class="position me-1">
                        <img src="/img/logo/<%= result.team %>.svg" alt="" class="team rounded-3 team-<%= result.team %>">
                    </div>
                </div>
                <div class="detail-content d-flex">
                    <img src="/img/profile/<%= result.name %>.webp" alt="" class="rounded-5 me-3 border border-4 border-primary shadow">
                </div>
            </div>
        </div>
    </div>
    <script>
        document.getElementById('backButton').addEventListener('click', function () {
          // 현재 URL 경로 가져오기
          const currentPath = window.location.pathname;
      
          // 마지막 '/' 이후의 경로 제거
          const newPath = currentPath.substring(0, currentPath.lastIndexOf('/'));
      
          // 새로운 경로 이동
          window.location.href = newPath;
        });
      </script>
    <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>